#
#忽略 .o 文件
*.o
# 忽略 build/ install/ out/ bin/ lib/文件夹下的所有文件
build/
install/
out/
bin/
lib/
# 忽略Vscode vs配置文件
.vscode/
.vs/
# 忽略代码生成参考的asm code
reference/
# 忽略收集产生汇编的文件
codegen_files/
debug/

# 忽略io.ll
# io.ll
